// bower:scss
// endbower

* { box-sizing: border-box; -webkit-box-sizing: border-box; margin: 0; padding: 0; -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; }

body {
  font: 20px/28px 'Portrait', serif;
}

p, h1, h2, h3, h4, h5, h6, a {
  font: 20px/28px 'Portrait', serif;
  font-weight: normal;
}

.grid {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 0 5%;
  pointer-events: none;
  opacity: 0;
  transition: all ease .2s;
  .col {
    float: left;
    width: calc(100% / 6 - 50px);
    height: 100%;
    margin-right: 60px;
    background: red;
    opacity: .05;
    &:nth-child(6) {
      margin-right: 0;
    }
  }
  &.active {
    opacity: 1;
  } 
}

$navy: #091a33;
$grey: #f3f3f3;
$spacer: 60px;

// Grid
.fluid {
  width: 100%;
  float: left;
  line-height: 0;
  // background: #999;  
}

.right {
  text-align: right;
}

.full {
  width: 100%;
  padding: 0 5%;
  & > div:last-child {
    margin-right: 0;
  }
}

.half {
  width: calc(50% - 30px);
  margin-right: 60px;
  line-height: 0;
  //background: rgba(255,0,0,.1);
  overflow: hidden;
  .full {
    padding: 0;
  }
  &:nth-child(2n) {
    margin-right: 0;
  }
}

.third {
  width: calc(100% / 3 - 40px);
  margin-right: 60px;
  // background: rgba(255,255,0,.1);
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.sixth {
  width: calc(100% / 6 - 50px);
  margin-right: 60px;
  // background: red;
}

.twothirds {
  width: calc(100% / 6 * 4 - 20px);
  margin-right: 60px;
  // background: rgba(255,255,0,.1);
}

.flush {
  margin: 0;
}

.full, .fluid, .half, .third, .twothirds {
  img {
    display: inline-block;
    // max-width: 100%;
    width: 100%;
  }
}

#wrap { 
  width: 100%; 
  overflow: hidden; 
  position: relative;
  z-index: 1;
  opacity: 1;
  transition: opacity ease 1s;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

section, header, footer {
  display: block;
  width: 100%;
  overflow: auto;
  padding: 0 0 0 0;
  overflow: hidden;
}

section div, footer div { float: left; }


header {
  width: 100%;
  background: white;
  padding: $spacer / 2 0;
  text-align: center;
  .full {
    position: relative;
  }
  nav {
    width: 100%;
    li {
      display: inline-block;
      a {
        &.active {
          background: black;
        }
      }
    }
  }
  a.cart {
    position: absolute;
    right: 5%;
    top: 0;
  }
}


.intro {

  background: $navy;
  color: white;
  height: 100vh;
  .sphere {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0);
  }

  .lucy {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0);
  }

  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h1 {
      font: 88px/95px 'Portrait', serif;
      margin-bottom: $spacer / 4;
    }
    a.view {
      color: white;
      font-size: 22px;
      position: relative;
      letter-spacing: .4px;
      transition: all ease .2s;
      z-index: 9999;
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: white;
        left: 0px;
        bottom: -5px;
        transition: all ease .2s;
      }
      &:hover {
        &:before {
          bottom: 10px;    
        }
      }
    }
  }
}

.home {
  background: #f3f3f3;
}

footer {
  width: 100%;
  background: $navy;
  color: white;
  padding: $spacer 0;
  .full:not(:last-of-type) {
    margin-bottom: $spacer;
  }
  a {
    color: white;
  }
  li {
    margin-bottom: 5px;
  }
  .half > .full {
    margin-bottom: 0;
    &:last-child {
      position: relative;
      overflow: visible;
    }
  }
  a.top {
    position: absolute;
    display: block;
    right: 0px;
    width: $spacer;
    height: $spacer;
    border: 1px solid white;
    text-align: center;
    padding: 14px 0 0 0;
    top: 0px;
    transition: all ease .2s;
    &:hover {
      background: white;
      color: $navy;
    }
  }
  .credit {
    //font: 14px/18px 'Courier New', monospaced;
    opacity: .4;
    text-align: right;
  }
  h5 { 
    margin-bottom: $spacer / 3;
  }
  form {
    float: left;
    position: relative;
  }
  input[type="text"], input[type="submit"] {
    outline: none;
    border: 1px solid white;
    background: $navy;
    padding: 15px 25px;
    font: 20px/28px 'Portrait', serif; 
    color: white;
    max-height: 60px;
    top: 0px;
  }
  input[type="submit"] {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translateX(98%);
  }

}

::-webkit-input-placeholder { color: white; }
:-moz-placeholder { color: white; }
::-moz-placeholder { color: white; }
:-ms-input-placeholder { color: white; }

