// bower:scss
// endbower

* { box-sizing: border-box; -webkit-box-sizing: border-box; margin: 0; padding: 0; -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; }

// Responsive
$phone-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
 @media (max-width: #{$phone-width}) {
    @content;
  }
}

@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// Type
$hero: 88px/95px 'Portrait', serif;
$large: 48px/52px 'Portrait', serif;
$medium: 36px/43px 'Portrait', serif;
$regular: 22px/28px 'Portrait', serif;
$small: 20px/28px 'Portrait', serif;
$tiny: 18px/28px 'Portrait', serif;

// Colours
$midnight: #08152b;
$navy: #091a33;
$grey: #f3f3f3;
$spacer: 60px;

// Easing
$cubic: cubic-bezier(.2,.87,.69,.96);


::-moz-selection { background: #e6e6e6; color: lighten($midnight, 15%); }
::selection { background: #e6e6e6; color: lighten($midnight, 15%); }

html {
  overflow-y: scroll;
}

body {
  font: $small;
  transition: all $cubic .7s;
  &.invert {
    background: $midnight;
    color: white;
  }
  &.lock {
    overflow: hidden;
  }
}

p, a {
  font: $small;
  font-weight: normal;
}
p > a {
  font: inherit;
  color: inherit;
  border-bottom: 1px solid $midnight;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-feature-settings: "liga" 1;
}

.grid {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 0 5%;
  pointer-events: none;
  opacity: 0;
  transition: all ease .2s;
  .col {
    float: left;
    width: calc(100% / 6 - 50px);
    height: 100%;
    margin-right: 60px;
    background: red;
    opacity: .05;
    &:nth-child(6) {
      margin-right: 0;
    }
  }
  &.active {
    opacity: 1;
  } 
}


// Grid
.fluid {
  width: 100%;
  float: left;
  // background: #999;  
}

.right {
  text-align: right;
}

.full {
  width: 100%;
  padding: 0 5%;
  & > div:last-child {
    margin-right: 0;
  }
  &.center {
    text-align: center;
  }
  &.all {
    padding: $spacer 5% 0;
    text-align: center;
  }
  a.all {
    color: $midnight;
    border: 1px solid $midnight;
    padding: 18px 26px 16px 26px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    transition: all ease .2s;
    &:hover {
      background: $midnight;
      color: white;
    }
  }
}


.half {
  width: calc(50% - 30px);
  margin-right: 60px;
  //background: rgba(255,0,0,.1);
  overflow: hidden;
  .full {
    padding: 0;
  }
  &:nth-child(2n) {
    margin-right: 0;
  }
  @include mobile {
    width: 100%;
    margin-right: 0;
  }
}

.third {
  width: calc(100% / 3 - 40px);
  margin-right: 60px;
  // background: rgba(255,255,0,.1);
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  @include mobile {
    width: 100%;
    margin-right: 0;
  }
}

.sixth {
  width: calc(100% / 6 - 50px);
  margin-right: 60px;
  // background: red;
}
.sixthoffset {
  margin-left: calc(100% / 6 + 10px);
}

.twothirds {
  width: calc(100% / 6 * 4 - 20px);
  margin-right: 60px;
  // background: rgba(255,255,0,.1);
}

.flush {
  margin: 0;
}

.full, .fluid, .half, .third, .twothirds {
  img {
    display: inline-block;
    // max-width: 100%;
    width: 100%;
  }
}

#wrap { 
  width: 100%; 
  overflow: hidden; 
  position: relative;
  z-index: 1;
  padding-top: $spacer;
  opacity: 1;
  transition: all $cubic .7s;
  &.out {
    padding-top: 70px;
    opacity: 0;
  }
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

section, header, footer {
  display: block;
  width: 100%;
  overflow: auto;
  padding: 0 0 0 0;
  overflow: hidden;
}

section div, footer div { float: left; }

#loader {
  left: 0px;
  top: 20%;
  right: 0px;
  bottom: 20%;
  position: absolute;
  z-index: 9998;
  background: $navy;
  display: block;
  transition: all $cubic .7s;
  svg {
    width: 150px;
    height: 150px;
    fill: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all $cubic .7s;
    &.out {
      opacity: 0;
    }
  }
  &.out {
    opacity: 0;
    pointer-events: none;
  }
}


header {
  position: fixed;
  background: transparent;
  width: 100%;
  padding: $spacer / 1.25 0;
  text-align: center;
  top: 0px;
  z-index: 9999;
  transition: all $cubic .5s;
  &.locked {
    background: white;
    transform: translateY(-65%);
    padding-top: $spacer;
    padding-bottom: $spacer / 2;
    .cart {
      top: 120px;
    }
    .invert & {
      background: $midnight;
    }
  }
  .invert & {
    background: transparent;
    color: white;
    .logo span svg {
      fill: white;
    }
    li, a {
      color: white;
      border-color: white;
      &:after {
        background: white;
      }
    }
  }
  .full {
    position: relative;
  }
  a {
    color: $midnight;
  }
  .logo {
    margin-bottom: $spacer / 2;
    span {
      display: block;
      svg {
        fill: $midnight;
      }
      &:last-child {
        margin-top: -25px;
        margin-bottom: -15px;
      }
    }
  }
  nav {
    width: 100%;
    li {
      display: inline-block;
      margin-right: $spacer / 3;
      &:last-child {
        margin-right:0;
      }
      @include mobile {
        margin-right: 10px;
      }
      a {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          left: 0px;
          bottom: -5px;
          height: 1px;
          width: 100%;
          background: $midnight;
          opacity: 0;
          transition: all ease .3s;
        }
        &.active, &:hover {
          &:after {
            opacity: 1; 
          }
        }
      }
    }
  }
  .cart {
    position: absolute;
    display: block;
    //border: 1px solid $midnight;
    color: $midnight;
    top: 20px;
    padding: 6px 15px 4px 15px;
    right: 5%;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all $cubic .5s;
    opacity: 0;
    &.active {
      opacity: 1;
    }
    span {
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 10px;
    }
    .cart-icon {
      stroke: #091A33;
      margin-bottom: -8px;
      .invert & {
        stroke: white;
      }
    }
  }
}


.intro {
  position: relative;
  background: $navy;
  color: white;
  height: 100vh;
  z-index: 9997;
  margin: 0 0 200vh 0;
  transition: all $cubic .7s;
  @include mobile {
    display: none;
  }
  &.out {
    opacity: 0;
    pointer-events: none;
  }
  .sphere {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0);
    transition: all $cubic .7s;
    z-index: 9999;
    &.out {
      opacity: 0;
      top: 7%;
    }
  }

  .lucy {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0);
    transition: all $cubic .7s;
    z-index: 9999;
    &.out {
      opacity: 0;
      bottom: 7%;
    }
  }

  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 1s $cubic .7s;
    &.out {
      opacity: 0;
      top: 51%;
    }
    h1 {
      font: $hero;
      margin-bottom: $spacer / 4;
      color: white;
      padding: 0px; 
      @include mobile {
        font: $large; 
      }
    }
    a.view {
      color: white;
      &:before {
        background: white;
      }
      &:hover {
        color: $navy;
      }
    }
  }
}

div.home {
  background: #f3f3f3;

  section {
    padding: $spacer * 2 0;
  }
}

.homething {
  position: fixed;
  top: 0;
  z-index: 8888;
  &.out {
    position: absolute;
  }
}

.pages {
  padding-top: $spacer * 1.5 !important;
  .page {
    h3 {
      font: $medium;
      margin-bottom: $spacer / 1.5;
      position: relative;
      display: inline-block;
      &:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background: $midnight;
        left: 0px;
        bottom: 0px;
      }
    }
  }
}

.collection {
  background: $grey; 
  .title {
    padding: 0 25%;
    margin-bottom: $spacer * 1.5;
    h2 {
      margin-bottom: $spacer / 1.5;
    }
  }
  .product {
    text-align: center;
    color: $midnight;
  }
  .full.product {
    // padding: 0;
  }
  .standfirst {
    background: white;
    padding: $spacer * 1.5 0 0 0;
    margin-bottom: $spacer * 1.5;
    .title h2 {
      margin-bottom: 0;
    }
  }
  &.page {
    .product {
      img {
        margin-bottom: $spacer / 2;
      }
      span {
        opacity: .5;
      }
      p {
        opacity: 0;
        transition: all $cubic .5s;
      }
      &:hover {
        p {
          opacity: 1;
        }
      }
    }
  }
}

.general {
  padding: 0 0 $spacer 0;
  background: white;
  .title {
    padding: 0 25%;
    margin-bottom: $spacer * 1.5;
    h1 {
      padding: $spacer / 2 0 0 0;
      // margin-bottom: $spacer / 1.5;
    }
  }
}

.product {
  margin-bottom: $spacer * 1.25;
  @include mobile {
    margin-bottom: $spacer / 1.5;
  }
  h4 {
    padding: $spacer / 2 0 $spacer /3 0;
    font: $medium;
    color: $midnight;
  }
  span.view {
    color: $midnight;
    opacity: .4;
    font: $regular;
    transition: all $cubic .5s;
  }
  a {
    &:hover {
      span.view {
        opacity: 1;
      }
    }
  }
}

.product.page {
  background: $grey;
  padding: $spacer * 1.25 0;
  margin-bottom: 0;
  @include mobile {
    padding: 0 0 $spacer * .75 0;
    .full {
      padding: 0;
      .gallery {
        margin-bottom: $spacer / 1.5;
      }
      .info {
        padding: 0 5%;
      }
    }
  }
  .info {
    padding-right: $spacer;
    @include mobile {
      padding-right: 0;
    }
    h1 {
      font: $medium;
      // display: block;
      padding-bottom: $spacer;
      @include mobile {
        text-align: center;
      }
      .price {
        background: white;
        font: 500 16px/16px Courier, monospaced;
        padding: 5px 20px;
        margin-left: 10px;
        letter-spacing: 1px;
        vertical-align: 40%;
        // -webkif-font-feature
        @include mobile {
          margin-left: 0;
        }
      }
    }
    p {
      font: $regular;
      margin-bottom: $spacer / 2;
    }
    .dropdown {
      margin-top: 30px;
      float: left;
      width: 100%;
      @include mobile {
        display: none;
      }
      li {
        // border-top: 1px solid $midnight;
        display: block;
        position: relative;
        a {
          color: $midnight;
          display: block;
          position: relative;
          padding: 16px 0;
          &:before {
            content: '';
            display: block;
            position: absolute;
            right: 10px;
            bottom: 25px;
            height: 15px;
            width: 15px;
            border-right: 1px solid $midnight;
            border-bottom: 1px solid $midnight;
            transform-origin: 70% 70%;
            transform: rotate(45deg);
            transition: all $cubic .2s;
          }
          &.active {
            &:before {
              transform: rotate(225deg);
            }
          }
        }
        div {
          display: block;
          // background: red;
          // border-bottom: 1px solid $midnight;
          padding: 15px 0;
          margin-bottom: 15px;
        }
      }
      .hide {
        display: none;
      }
    }
    .sizes, .colours, .cart {
      &.half {
        width: calc(50% - 15px);
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
      }
      background: $midnight;
      color: white;
      height: $spacer;
      padding: 16px;
      text-align: center;
      li > ul {
        display: none;
      }
      a, li {
        color: white;
        font: $tiny;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }
    .colours {
      margin-right: 0 !important;
    }
    .cart {
      margin-top: 30px;
    }
  }
  .gallery {
    position: relative;
    overflow: hidden;
    &:hover {
      .thumbs {
        transform: translateY(0%);
        opacity: 1;
      }
    }
    .thumbs {
      display: block;
      background: $grey;
      z-index: 8888;
      position: absolute;
      top: 0px;
      text-align: center;
      width: 100%;
      transition: all $cubic .3s;
      transform: translateY(-100%);
      @include mobile {
        transform: translateY(0%);
        opacity: 1;
        position: relative;
      }
      li {
        display: inline-block;
        padding: 0 0 0 0;
        height: 100px;
        width: 100px;
        transform: scale(.7);
        img {
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
  }
}

.shop {
  background: white;
  .full.all {
    text-align: left;
    padding-top: $spacer / 2;
  }
  .half {
    h3 {
      font: $large;
      margin-bottom: $spacer;
    }
  }
  .half.right {
    min-height: $spacer * 3;
  }
  .filter {
    width: 100%;
    padding: $spacer / 2 0 $spacer;
    text-align: center;
    a {
      color: $navy;
      opacity: .5;
      transition: all ease .2s; 
    }
    a.active, a:hover {
      opacity: 1;
    }
    ul {
      li {
        display: inline-block;
        padding: 0 10px;
      }
    }
  }
  .dropdown {
    position: relative;
    min-height: 200px;
    a {
       color: $midnight;
    }
    .drop {
      display: block;
      position: absolute;
      padding-right: 50px;
      right: 0px;
      bottom: 50px;
      &:after {
        content: '';
        display: block;
        border-right: 1px solid $midnight;
        border-bottom: 1px solid $midnight;
        position: absolute;
        height: 15px;
        width: 15px;
        right: 10px;
        top: -5px;
        transform: rotate(45deg);
      }
      &:before {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        height: 1px;
        background: $midnight; 
        left: 0px;
        bottom: -4px;
      }
    }

    ul {
      display: none;
      position: absolute;
      width: 100px;
      height: 100px;
      background: red;
      right: 0px;
    }
  }

}

.page {
  margin-top: 180px;
}

.shop.page {
  .product {
    text-align: center;
  }
}

.about, .contact {
  margin-bottom: $spacer;
  .twothirds {
    text-align: center;
    p {
      margin-bottom: $spacer / 2;
    }
  }
  .ring {
    float: none !important;
    display: inline-block;
    margin: $spacer / 2  0;
    svg {
      fill: white;
      width: 65px;
      height: 65px;
    }
  }
}


.title {
  text-align: center;
  h1 {
    font: $large;
    padding: $spacer * 1.5 0 0 0;
    color: $midnight;
  }
  h2 {
    font: $large;
    color: $midnight;
    margin-bottom: 0;
    .about &, .contact & {
      padding: $spacer * 1.25 25%;
      color: white;
    }
  }
  a.view {
    color: $midnight;
    font: $regular;
    position: relative;
    letter-spacing: .4px;
    transition: all ease .2s;
    z-index: 9999;
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 1px;
      background: $midnight;
      left: 0px;
      bottom: -5px;
      transition: all ease .2s;
    }
    &:hover {
      color: white;
      &:before {
        bottom: -5px;
        left: -5%;
        height: 150%;
        width: 110%; 
      }
    }
  }
}


footer {
  width: 100%;
  background: $midnight;
  color: white;
  padding: $spacer 0 $spacer / 2 0;
  .full:not(:last-of-type) {
    margin-bottom: $spacer;
  }
  a {
    color: white;
  }
  li {
    margin-bottom: 5px;
  }
  li a {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      background: white;
      width: 100%;
      height: 1px;
      left: 0px;
      bottom: -3px;
      opacity: 0;
      transition: all ease .3s;
    }
    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }
  .half > .full {
    margin-bottom: 0;
    &:last-child {
      position: relative;
      overflow: visible;
    }
  }
  a.top {
    position: absolute;
    display: block;
    right: 0px;
    width: $spacer;
    height: $spacer;
    border: 1px solid white;
    text-align: center;
    padding: 14px 0 0 0;
    top: 0px;
    transition: all ease .2s;
    &:hover {
      background: white;
      color: $navy;
    }
  }
  .credit {
    //font: 14px/18px 'Courier New', monospaced;
    opacity: .4;
    text-align: right;
    margin-top: $spacer / 3;
    transition: all ease .3s;
    &:hover {
      opacity: 1;
    }
  }
  h4 { 
    margin-bottom: $spacer / 3;
  }
  form {
    float: left;
    position: relative;
  }
  input[type="text"], input[type="submit"] {
    outline: none;
    border: 1px solid white;
    background: $midnight;
    padding: 15px 25px;
    font: $small;
    color: white;
    max-height: 60px;
    top: 0px;
    transition: all ease .5s;
    &:focus {
      background: white;
      color: $navy;
    }
  }
  input[type="submit"] {
    text-transform: uppercase;
    letter-spacing: 3px;
    font: $tiny;
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translateX(98%);

  }
  .ring svg {
    width: 55px;
    height: 55px;
  }
}

::-webkit-input-placeholder { color: white; }
:-moz-placeholder { color: white; }
::-moz-placeholder { color: white; }
:-ms-input-placeholder { color: white; }

