<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg class="cart-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="30px" height="30px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve">
<g>
  <g>
    <line fill="none" stroke-miterlimit="10" x1="2" y1="11.2" x2="28" y2="11.2"/>
    <line fill="none" stroke-miterlimit="10" x1="3.3" y1="15.9" x2="26.7" y2="15.9"/>
    <line fill="none" stroke-miterlimit="10" x1="4.7" y1="20.5" x2="25.3" y2="20.5"/>
  </g>
  <g>
    <line fill="none" stroke-miterlimit="10" x1="7.3" y1="11.7" x2="7.3" y2="23.7"/>
    <line fill="none" stroke-miterlimit="10" x1="12.3" y1="11.7" x2="12.3" y2="23.7"/>
    <line fill="none" stroke-miterlimit="10" x1="17.3" y1="11.7" x2="17.3" y2="23.7"/>
    <line fill="none" stroke-miterlimit="10" x1="22.3" y1="11.7" x2="22.3" y2="23.7"/>
  </g>
  <polyline fill="none" stroke-miterlimit="10" points="18.7,9.7 17.7,6.3 12.3,6.3 11.3,9.7   "/>
</g>
</svg>