
    <footer>
 
      <div class="full">
        <div class="sixth">
          <ul>
            <li><a href="page.html">Stockists</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="collection.html">Collections</a></li>
          </ul>
        </div>
        <div class="third">
          <ul>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="page.html">Journal</a></li>
            <li><a href="page.html">Product Care</a></li>
          </ul>
        </div>
        <div class="half">
          <div class="full">
            <h4>Mailing List</h4>
          </div>
          <div class="full">
            <form>
              <input type="text" placeholder="Email Address">
              <input type="submit" value="submit">
            </form>
            <a href="#" class="top">Top</a>
          </div>
        </div>
        
      </div>

      <div class="full">
      
        <div class="twothirds">
          <div class="ring">

<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="55px" height="55px" viewBox="0 0 55 55" enable-background="new 0 0 55 55" xml:space="preserve">
<g>
  <path fill="#CBCED3" d="M52,18.3c-0.7-1.7-1.8-3.2-3-4.4c0.5,1.6,1.1,3.3,1.7,4.9c0.7,1.6,1.2,3.2,2,4.8C52.7,21.9,52.7,20,52,18.3
    z"/>
  <path fill="#CBCED3" d="M46.5,10.7c-0.8-1.5-1.9-3-3.4-4.1c-1.5-1.1-3.2-1.8-4.9-2c1.3,1.1,2.6,2.2,4.1,3.2
    C43.6,8.8,45,9.8,46.5,10.7z"/>
  <path fill="#CBCED3" d="M34.4,3.2c-1.5-0.9-3.2-1.5-5.1-1.6c-1.9-0.1-3.7,0.2-5.3,0.9c1.7,0.2,3.4,0.4,5.2,0.5
    C30.9,3.2,32.6,3.2,34.4,3.2z"/>
  <path fill="#CBCED3" d="M20,3.5c-1.7,0.1-3.5,0.5-5.1,1.4c-0.8,0.5-1.6,1-2.2,1.6c-0.6,0.6-1.2,1.3-1.7,2c0.8-0.3,1.6-0.7,2.3-1.1
    C14,7,14.8,6.6,15.6,6.2C17.1,5.3,18.5,4.4,20,3.5z"/>
  <path fill="#CBCED3" d="M8.1,11.5c-1.4,1-2.7,2.3-3.5,4c-0.9,1.6-1.3,3.4-1.3,5.1c0.9-1.5,1.8-2.9,2.6-4.5
    C6.6,14.6,7.4,13.1,8.1,11.5z"/>
  <path fill="#CBCED3" d="M2.4,24.5c-0.5,1.6-1,3.4-0.8,5.3c0.1,1.9,0.8,3.6,1.7,5.1c0-1.7-0.1-3.4-0.2-5.2
    C2.9,27.9,2.8,26.2,2.4,24.5z"/>
  <path fill="#CBCED3" d="M4.7,38.6c0.3,1.7,1,3.4,2.1,4.9C8,45,9.5,46.1,11,46.9c-0.9-1.4-1.9-2.8-3-4.2C6.9,41.2,5.9,39.9,4.7,38.6
    z"/>
  <path fill="#CBCED3" d="M14.3,49.3c1.2,1.3,2.7,2.3,4.5,3c1.8,0.6,3.6,0.8,5.3,0.6c-1.6-0.7-3.2-1.3-4.8-1.9
    C17.6,50.3,16,49.8,14.3,49.3z"/>
  <path fill="#CBCED3" d="M28.1,53.1c1.7,0.4,3.5,0.5,5.4,0.1c1.8-0.4,3.4-1.4,4.8-2.4c-1.7,0.2-3.4,0.6-5.1,1
    C31.4,52.1,29.7,52.6,28.1,53.1z"/>
  <path fill="#CBCED3" d="M41.7,48.8c1.6-0.5,3.2-1.5,4.5-2.8c1.3-1.3,2.2-2.9,2.7-4.6c-1.3,1.1-2.5,2.3-3.8,3.5
    C44,46.2,42.8,47.5,41.7,48.8z"/>
  <path fill="#CBCED3" d="M53,27.7c-0.5,1.7-0.9,3.3-1.2,5.1c-0.3,1.7-0.7,3.4-0.9,5.1c1.1-1.3,1.9-3,2.3-4.8
    C53.6,31.2,53.5,29.3,53,27.7z"/>
</g>
</svg>



          </div>
        </div>
        
        <div class="sixth credit">
          <p>Copyright &copy; 2015</p>
        </div>
        
        <div class="sixth credit">
          <a href="#">Site by Post</a>
        </div>
      
      </div>

    </footer>