
    <footer>
 
      <div class="full">
        <div class="sixth">
          <ul>
            <li><a href="#">Stockists</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Collections</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>
        <div class="third">
          <ul>
            <li><a href="#">Our Journal</a></li>
            <li><a href="#">Product Care</a></li>
            <li><a href="#">Ethical Products</a></li>
            <li><a href="#">F.A.Q’s</a></li>
          </ul>
        </div>
        <div class="half">
          <div class="full">
            <h5>Mailing List</h5>
          </div>
          <div class="full">
            <form>
              <input type="text" placeholder="Email Address">
              <input type="submit" value="submit">
            </form>
            <a href="#" class="top">Top</a>
          </div>
        </div>
        
      </div>

      <div class="full">
      
        <div class="twothirds">
          <div class="ring">
            <img src="http://placehold.it/50x50" alt="">
          </div>
        </div>
        
        <div class="sixth credit">
          <p>Copyright &copy; 2015</p>
        </div>
        
        <div class="sixth credit">
          <a href="#">Site by Post</a>
        </div>
      
      </div>

    </footer>