    <div class="grid">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>

    <header class="mini">
      <div class="full">
      <h1>
        <a href="#">
          <span>Sphere One</span>
          <span></span>
          <span>Lucy Downes</span>
        </a>
      </h1>
      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav>
        <ul>
          <li><a href="collection.html" class="active">Collection</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="shop.html">Shop</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
      <a href="cart.html" class="cart">Cart: 0</a>
      </div>
    </header>