<div class="product">
	

	<div class="full">
		
		<div class="half info">
			<h1>Captain Nik Sweater <span class="price">€700</span></h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere vel natus ratione amet numquam! Quam voluptatibus, modi maxime doloremque nostrum!</p>
			<a href="#" class="sizes">Sizes</a>
			<a href="#" class="colour">Colour</a>
			<a href="#" class="addtocart">Add to cart</a>

			<ul class="dropdown">
				<li>
					<a href="#">Details &amp; Fit</a>
					<div class="hide">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed laudantium harum provident cum, dicta odit nam tempore magnam reiciendis, ea.
					</div>
				</li>
				<li>
					<a href="#">Measurements</a>
					<div class="hide">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed laudantium harum provident cum, dicta odit nam tempore magnam reiciendis, ea.
					</div>
				</li>
			</ul>

		</div>

		<div class="half gallery">
			<img src="http://placehold.it/700x1000" alt="">
			<div class="thumbs">
				<ul>
					<li><a href="#"><img src="http://placehold.it/100x70" alt=""></a></li>
					<li><a href="#"><img src="http://placehold.it/100x70" alt=""></a></li>
					<li><a href="#"><img src="http://placehold.it/100x70" alt=""></a></li>
				</ul>
			</div>
		</div>


	</div>


</div>