<div class="about">
	
	<div class="full">
		<h2>A collection of cashmere rapt in tactile softness and an infinite featherweight warmth</h2>
	</div>	

	<div class="full">
		<div class="twothirds">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel neque veniam exercitationem optio reprehenderit quos eveniet repudiandae, quas explicabo dicta sequi blanditiis laboriosam officiis quisquam hic cupiditate, omnis rem placeat? Sint, voluptas explicabo aliquam possimus ullam ratione, rem aperiam temporibus magni dolorum minima ipsa cum vero saepe iste neque? Libero aperiam tempore aliquam ad et repellendus, cum adipisci dicta quas provident ullam est ex perspiciatis placeat corporis tempora ea asperiores voluptates totam, eveniet sit reiciendis maxime odio nihil? Magni modi quas repellat est eum hic officia error officiis qui voluptates quisquam blanditiis placeat, earum ipsam, similique doloribus voluptatibus ipsum maxime.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem minima corporis exercitationem sequi ut, odit sunt molestiae eius soluta, magni ex, quasi libero culpa nobis perspiciatis vel beatae vero aliquam obcaecati, cupiditate. Id sapiente ipsam non fuga, sed in error, porro natus fugiat perferendis veniam consequuntur nemo debitis ea eum incidunt aspernatur aut numquam saepe sunt nesciunt omnis corporis. At itaque, libero adipisci unde ducimus inventore, autem tempora recusandae ipsum ad excepturi ab dolor, officia doloremque assumenda repellat molestias laborum facere odio quas fuga incidunt neque! Corporis quas sit, nobis repellat modi explicabo quam dolorem tempore ducimus culpa doloribus quisquam itaque, voluptatem saepe eos voluptatum aspernatur, ipsum sunt. Recusandae dolorem sunt, tempore expedita, harum distinctio sint corporis similique neque quibusdam.</p>
			<div class="ring"></div>
				
			<ul>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
			</ul>

		</div>
	</div>


</div>