<div class="collection">
	
	<div class="full">
		<h1>Autumn/Winter 2015</h1>
	</div>

	<div class="full">
		<div class="sixth"></div>
		<div class="twothirds">
			<div class="half product">
				<img src="http://placehold.it/400x600" alt="">
				<p>Mizen Sweater<br/>
				100% Arran Cashmere</p>
			</div>
			<div class="half product">
				<img src="http://placehold.it/400x600" alt="">
				<p>Mizen Sweater<br/>
				100% Arran Cashmere</p>
			</div>
			<div class="full product">
				<img src="http://placehold.it/600x1000" alt="">
				<p>Mizen Sweater<br/>
				100% Arran Cashmere</p>
			</div>
		</div>
	</div>

	<div class="full">
		<div class="standfirst">
			<h3>A collection of cashmere rapt in tactile softness and an infinite featherweight warmth</h3>
		</div>
	</div>

	<div class="full">
		<div class="sixth"></div>
		<div class="twothirds">
			<div class="half product">
				<img src="http://placehold.it/400x600" alt="">
				<p>Mizen Sweater<br/>
				100% Arran Cashmere</p>
			</div>
			<div class="half product">
				<img src="http://placehold.it/400x600" alt="">
				<p>Mizen Sweater<br/>
				100% Arran Cashmere</p>
			</div>
			<div class="half product">
				<img src="http://placehold.it/400x600" alt="">
				<p>Mizen Sweater<br/>
				100% Arran Cashmere</p>
			</div>
			<div class="half product">
				<img src="http://placehold.it/400x600" alt="">
				<p>Mizen Sweater<br/>
				100% Arran Cashmere</p>
			</div>
		</div>
	</div>


</div>