<div class="shop">

	<div class="filter">
		<ul>
			<li><a href="#">One</a></li>
			<li><a href="#">Two</a></li>
			<li><a href="#">Three</a></li>
			<li><a href="#">Four</a></li>
		</ul>
	</div>
	
	<div class="full">
		<div class="third product">
			<img src="http://placehold.it/400x600" alt="">
			<h4>Mizen Sweater</h4>
			<a href="#" class="view">View Piece</a>
		</div>
		<div class="third product">
			<img src="http://placehold.it/400x600" alt="">
			<h4>Mizen Sweater</h4>
			<a href="#" class="view">View Piece</a>
		</div>
		<div class="third product">
			<img src="http://placehold.it/400x600" alt="">
			<h4>Mizen Sweater</h4>
			<a href="#" class="view">View Piece</a>
		</div>
	</div>

	<div class="full">
		
		<div class="half product">
			<img src="http://placehold.it/900x600" alt="">
			<h4>Mizen Sweater</h4>
			<a href="#" class="view">View Piece</a>
		</div>

		<div class="half product">
			<img src="http://placehold.it/900x600" alt="">
			<h4>Mizen Sweater</h4>
			<a href="#" class="view">View Piece</a>
		</div>

	</div>

	<div class="full">
		<div class="third product">
			<img src="http://placehold.it/400x600" alt="">
			<h4>Mizen Sweater</h4>
			<a href="#" class="view">View Piece</a>
		</div>
		<div class="third product">
			<img src="http://placehold.it/400x600" alt="">
			<h4>Mizen Sweater</h4>
			<a href="#" class="view">View Piece</a>
		</div>
		<div class="third product">
			<img src="http://placehold.it/400x600" alt="">
			<h4>Mizen Sweater</h4>
			<a href="#" class="view">View Piece</a>
		</div>
	</div>

</div>